@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 242, 245);
  color: rgb(20, 20, 20);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

main {
  margin: 0 auto;
  width: 50%;
}

main > header {
  padding: 30px 0;
}

header > p {
  color: rgb(50%, 50%, 50%);
}

main section {
  background-color: white;
  border-radius: 03px;
  box-shadow: 02px 02px 02px rgb(230, 230, 230);
  padding: 20px;
  margin-bottom: 10px;
}

main section > header {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

table, tr, td {
  border: 01px solid rgb(240, 242, 245);
  border-collapse: collapse;
  padding: 10px;
}

thead {
  font-weight: bolder;
}

input, select {
  width: 100%;
}

button, input, select, textarea {
  background-color: rgb(240, 242, 245);
  color: inherit;
  border: 0;
  border-radius: 03px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 10px;
  outline: 0;
  transition: 100ms;
}

button:hover, input:hover, select:hover, textarea:hover,
input:focus, select:focus, textarea:focus {
  background-color: rgb(224, 226, 229);
}

.inputs-group .group {
  margin-bottom: 10px;
}

.inputs-group .group .group-title {
  font-weight: bolder;
}

.inputs-group .group .group-description {
  color: rgb(50%, 50%, 50%);
}

.inputs-group .group input {
  margin-top: 10px;
}

.overlay {
  background-color: rgba(20, 20, 20, 0.8);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loader {
  align-items: center;
  display: flex;
  color: white;
  flex-direction: column;
  font-weight: bolder;
  justify-content: center;
}

.spinner {
  animation: loader 2s infinite linear;
  border: 10px solid white;
  border-left-color: transparent;
  border-radius: 100%;
  height: 100px;
  margin: 20px 0;
  width: 100px;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tablet, Screen resize and others resolutions */
@media screen and (max-width: 1200) {
  main {
    width: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 800px) {
  main {
    width: 100%;
  }
  
  main > header {
    padding: 35px 20px;
  }
}